<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="help.lixin.starlink.plugin.credential.mapper.SysCredentialNamespacesMapper">
  <resultMap id="BaseResultMap" type="help.lixin.starlink.plugin.credential.domain.SysCredentialNamespaces">
    
    <!-- ID -->
    <result column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 插件实例 -->
    <result column="instance_code" jdbcType="VARCHAR" property="instanceCode" />
    
    <!-- 命名空间 -->
    <result column="name_space" jdbcType="VARCHAR" property="nameSpace" />
    
    <!-- 是否删除(删除为1) -->
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    
    <!-- 状态值 -->
    <result column="status" jdbcType="TINYINT" property="status" />
    
    <!-- 创建人 -->
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    
    <!-- 更新人 -->
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    
    <!-- 创建时间 -->
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    
    <!-- 更新时间 -->
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insertSelective">
    insert into sys_credential_namespaces
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instanceCode != null">
        instance_code,
      </if>
      <if test="nameSpace != null">
        name_space,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceCode != null">
        #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="nameSpace != null">
        #{nameSpace,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
    <!-- Generate time: 2024-05-23 15:28:49 ### -->




  <!-- Your codes goes here!!! -->
  <select id="queryNameSpaceOptionList" resultType="help.lixin.starlink.plugin.credential.dto.SysCredentialNameSpaceDTO">
    SELECT
        name_space label,
        name_space value
    FROM
        sys_credential_namespaces
    WHERE
        is_del = 0
    AND
        instance_code = #{instanceCode}
  </select>
</mapper>