<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="help.lixin.starlink.plugin.credential.mapper.SysCredentialTokenMapper">
  <resultMap id="BaseResultMap" type="help.lixin.starlink.plugin.credential.domain.SysCredentialToken">
    
    <!-- ID -->
      <result column="id" jdbcType="BIGINT" property="id"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="token" jdbcType="VARCHAR" property="token"/>
  </resultMap>
  <insert id="insertSelective">
    insert into sys_credential_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="token != null">
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective">
    update sys_credential_token
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!-- Generate time: 2023-12-27 16:42:06 ### -->


    <!-- Your codes goes here!!! -->
    <select id="queryById"
            resultType="help.lixin.starlink.plugin.credential.domain.SysCredentialToken">
    SELECT
        *
    FROM
        sys_credential_token
    WHERE
        id = #{id}
  </select>
</mapper>