<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="help.lixin.starlink.plugin.credential.mapper.SysCredentialTextMapper">
  <resultMap id="BaseResultMap" type="help.lixin.starlink.plugin.credential.domain.SysCredentialText">
    
    <!-- ID -->
    <result column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 密码 -->
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="help.lixin.starlink.plugin.credential.domain.SysCredentialText">
    
    <!-- 凭证文本 -->
    <result column="secret" jdbcType="LONGVARCHAR" property="secret" />
  </resultMap>
  <sql id="Blob_Column_List">
    secret
  </sql>
  <insert id="insertSelective">
    insert into sys_credential_text
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="secret != null">
        secret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        #{secret,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective">
    update sys_credential_text
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        secret = #{secret,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
    <!-- Generate time: 2023-12-27 16:42:06 ### -->


  <!-- Your codes goes here!!! -->

</mapper>