<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="help.lixin.starlink.plugin.credential.mapper.SysCredentialTlsMapper">
  <resultMap id="BaseResultMap" type="help.lixin.starlink.plugin.credential.domain.SysCredentialTls">
    
    <!-- ID -->
      <result column="id" jdbcType="BIGINT" property="id"/>

      <!-- 私钥 -->
      <result column="private_key" jdbcType="VARCHAR" property="privateKey"/>

      <!-- 证书 -->
      <result column="certificate" jdbcType="VARCHAR" property="certificate"/>
  </resultMap>
  <insert id="insertSelective">
    insert into sys_credential_tls
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="privateKey != null">
        private_key,
      </if>
      <if test="certificate != null">
        certificate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="privateKey != null">
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

    <!-- Generate time: 2024-05-29 11:07:42 ### -->


    <!-- Your codes goes here!!! -->
    <select id="queryById" resultType="help.lixin.starlink.plugin.credential.domain.SysCredentialTls">
    SELECT
        *
    FROM
        sys_credential_tls
    WHERE
        id = #{id}
  </select>
</mapper>