<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="help.lixin.starlink.plugin.credential.mapper.SysCredentialOpaqueMapper">
  <resultMap id="BaseResultMap" type="help.lixin.starlink.plugin.credential.domain.SysCredentialOpaque">
    
    <!-- ID -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="common_id" jdbcType="BIGINT" property="commonId" />
    <result column="opq_key" jdbcType="VARCHAR" property="opqKey" />
    <result column="opq_value" jdbcType="VARCHAR" property="opqValue" />
  </resultMap>
  <insert id="insertSelective">
    insert into sys_credential_opaque
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commonId != null">
        common_id,
      </if>
      <if test="opqKey != null">
        opq_key,
      </if>
      <if test="opqValue != null">
        opq_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commonId != null">
        #{commonId,jdbcType=BIGINT},
      </if>
      <if test="opqKey != null">
        #{opqKey,jdbcType=VARCHAR},
      </if>
      <if test="opqValue != null">
        #{opqValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- Generate time: 2024-05-29 11:07:59 ### -->


  <!-- Your codes goes here!!! -->
  <select id="queryOpaqueList" resultType="help.lixin.starlink.plugin.credential.domain.SysCredentialOpaque">
    SELECT
        *
    FROM
        sys_credential_opaque
    WHERE
        common_id = #{id}
  </select>

</mapper>